


<div class="log-in mb-6">
    <div class="bg-image-box">
    
           <div class="container">  
             <div class="row">   
  
          <div class=" text col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img [src]="logo" class="logo">
            <p class="text-value"> Schedule your appointment with expert doctors </p>
          </div>

  <div class="myform col-lg-6 col-md-6 col-sm-12 col-xs-12" >
    <form class="form-size"  [formGroup]="createPasswordForm" (ngSubmit)="onFormSubmit(createPasswordForm)" >

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="emailId">Email address</label>

        <input
          type="email"
          id="emailId"
          class="form-control"
          name="emailId"
          emailId="emailId"
          formControlName="emailId"
        />
      </div>

      <div class="text-danger" *ngIf="emailId.invalid && emailId.dirty">
        <span *ngIf="emailId.errors!['required']">Email is required</span>
         </div>

      <!-- DOB input -->
      <div class="form-outline mb-4">
        <label class="form-label" for=" dateOfBirth">DOB</label>

        <input
          type="date"
          id=" dateOfBirth"
          class="form-control"
          name=" dateOfBirth"
          dateOfBirth=" dateOfBirth"
          formControlName="dateOfBirth"
        />
      </div>
      <div class="text-danger" *ngIf=" dateOfBirth.invalid &&  dateOfBirth.dirty">
        <span *ngIf=" dateOfBirth.errors!['required']">Date of Birth is required</span>
         </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="passcode">Password</label>

        <input
          type="password"
          id="passcode"
          class="form-control"
          name="passcode"
          passcode="passcode"
          formControlName="passcode"
        />
      </div>
      <div class="text-danger" *ngIf="passcode.invalid && passcode.dirty">
        <span *ngIf="passcode.errors!['required']">Password is required</span>
         </div>

      <!--Confirm Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="ConfirmPasswoed">Confirm Password</label>

        <input
          type="password"
          id="ConfirmPassword"
          class="form-control"
          name="confirmPassword"
          formControlName="confirmPassword"
        />
      </div>
      <div class="text-danger" *ngIf="confirmPassword.invalid && confirmPassword.dirty">
        <span *ngIf="confirmPassword.errors!['required']">Confirm Password is required</span>
         </div>


      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="form2Example31"
              checked
            />

            <label class="form-check-label" for="form2Example31">
              Remember me
            </label>
          </div>
        </div>

        <div class="col justify-content-center">
          <!-- Simple link -->
          <a class="">Forgot password ?</a>
        </div>
      </div>

      <!-- Submit button -->
      <div class="col-12">
        <button type="submit" class="btn btn-primary login-btn btn-block mb-4">
          Reset Password
        </button>
      </div>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Go back to <a [routerLink]="['/register']">log in</a></p>
      </div>
    </form>
  </div>

</div>
</div>



<img [src]="img" alt="vector image" class="image">
</div>
</div>

